:root {
    --mainBg: #0c103a;
    --secondaryColor: #b1ceff;
    --textColor: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondaryColor);
    font-family: 'Poppins', sans-serif;
}